:root {
  --font-primary: 'RobotoFlexVariable', serif;
  --spacing-xxl: 64px;
  --spacing-xl: 48px;
  --spacing-l: 32px;
  --spacing-m: 24px;
  --spacing-s: 16px;
  --spacing-xs: 12px;
  --spacing-xxs: 8px;
  --spacing-xxxs: 4px;
  --gap-between-blocks: var(--spacing-xl);
  --margin-media-first-block: -32px;
  --primary-black: #000;
  --pharmacy-main-color: red;
  --color: var(--ia-text-color, #191a1d);
  --text-font-size: #{pxToRem(16)};
  --component-gap: var(--spacing-m);
  --grey-100: #e9edf7;
  --grey-200: #ddd;
  --grey-300: #bbb;
  --grey-400: #919cb4;
  --grey-500: #ced4e2;
  --grey-800: #333b4e;
  --grey-white: #f5f5f5;
  --white: #fff;
  --black: #191a1d;
  --red-50: #ffdbdb;
  --red-500: #ff0000;
  --red-700: #b60000;
  --alert-50: #ffeeee;
  --alert-300: #ff6d6d;
  --alert-900: #490000;
  --success-50: #eafddc;
  --success-200: #5dd26f;
  --success-500: #248232;
  --success-900: #071a0a;
  --info-background: #fffbf0;
  --info-border: #dba617;
  --carousel-button-background: rgba(0, 0, 0, 0.25);
  --carousel-button-above-slider-background: rgba(255, 255, 255, 1);
  --carousel-button-border: rgba(49, 47, 42, 1);
  --carousel-button-border-hover: rgba(221, 221, 221, 1);
  --carousel-pagination-background: rgba(0, 0, 0, 0.1);
  --colors-overlay-black: rgba(0, 0, 0, 0.75);
  --gap: var(--spacing-m);
  --grid-max-width: 1fr;
  --li-margin-bottom: var(--spacing-l);
  --padding-left-list: var(--spacing-l);
  --image-slider-ratio: auto;
  --button-container-width: 102px;
  --pdf-aspect-ratio: 1.77;
  --max-media-width: 100%;

  --opacity-70: B3;
  --theme-text: var(--color);
  --theme-text-70: #{var(--theme-text)}#{var(--opacity-70)};
  --theme-section-background: var(--ia-primary-color-lighter);
  --theme-button-primary: var(--ia-primary-color);
  --theme-button-secondary: var(--color);
  --theme-button-text: var(--ia-primary-font-color);
  --theme-links: var(--ia-link-color, var(--ia-primary-color));
  --theme-links-hover: var(--ia-link-hover-color, var(--ia-primary-color));

  --footer-color: #ffffff;
  --footer-color-light-mode: #555555;
  --footer-color-30: rgba(255, 255, 255, 0.3);
  --footer-color-light-mode-30: rgba(0, 0, 0, 0.3);
  --footer-bottom-color: rgba(255,255,255,0.4);
  --footer-bottom-color-light-mode: rgba(0,0,0,0.4);
  --footer-background-color: #2E2E2E;
}
